.ticket-wrapper {
    width: 340px;
    height: 300px;

    // width: 150px;
    // height: 150px;
    // margin-top: 20px;

    // border: 4px solid white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    padding: 20px 20px 50px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    transform: scale(1);
    
    .ticket-header{
        font-size: 22px;
        font-weight: 700;
        padding: 10px 0;
    }

    &.bingo {
        animation: animateBorder 1s linear infinite forwards , changeColor 3s linear infinite;

        &.Purple-sim {
            color: purple;
        }
        &.Green {
            color: #008000;
        }
        &.Blue {
            color: #007FFF;
        }
        &.Green-bananas {
            color: #66ff00;
        }
        &.Bruised-red {
            color: #8B0000;
        }
        &.Dark-green {
            color: #006400;
        }
        &.Brown-soil {
            color: #8B4513;
        }
        &.Gold-9999 {
            color: yellow;
        }
        &.Milk-oranges {
            color: #FFA500;
        }
        &.Pink-babe {
            color: pink;
        }
        &.Dark-orange {
            color: #de4604;
        }
        &.Turquoise {
            color: #98ede7;
        }
        &.PastelPink {
            color: #C88BD9;
        }
        &.Rainbow {
            animation: animateBorder 1s linear infinite forwards , changeLinearColor 3s linear infinite;
        }
        &.MossGreen {
            color: #345F3C;
        }

        .ticket-header {
            color: white;
            text-shadow: 0px 0px 5px black;
        }

        @keyframes changeLinearColor {
            0%{
                background-image: linear-gradient(to right,#c6ffdd ,#fbd786 ,#f7797d);
            } 17% {
                background-image: unset;
            } 32% {
                background-image: linear-gradient(to right,#c6ffdd ,#fbd786 ,#f7797d);
            } 47% {
                background-image: unset;
            } 63% {
                background-image: linear-gradient(to right,#c6ffdd ,#fbd786 ,#f7797d);
            } 75% {
                background-image: unset;
            } 90% {
                background-image: linear-gradient(to right,#c6ffdd ,#fbd786 ,#f7797d);
            }  100% {
                background-image: unset;
            } 
        }

        @keyframes changeColor {
            0%{
                background-color: currentColor;
            } 17% {
                background-color: unset;
            } 32% {
                background-color: currentColor;
            } 47% {
                background-color: unset;
            } 63% {
                background-color: currentColor;
            } 75% {
                background-color: unset;
            } 90% {
                background-color: currentColor;
            }  100% {
                background-color: unset;
            } 
        }
        
        @keyframes animateBorder {
            0%{
                transform: scale(0.99);
            } 17% {
                transform: scale(1);
            } 32% {
                transform: scale(0.99);
            } 47% {
                transform: scale(1);
            } 63% {
                transform: scale(0.99);
            } 75% {
                transform: scale(1);
            } 90% {
                transform: scale(0.99);
            }  100% {
                transform: scale(1);
            } 
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: calc(90% - 40px);

        top: calc(50% + 10px);
        left: 50%;
        transform: translate(-50% , -50%);
        background-color: rgb(179, 172, 172);

        z-index: 10;
    }

    .ticket-container {
        padding: 5px;

        border: 2px solid gray;
        box-shadow: 0 0 5px gray;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: white;
        position: relative;
        z-index: 10px;
        color: black;

        .ticket-left {
            padding-right: 10px;
        }
    }
}

@media screen and (max-width : 850px) {
    .ticket-wrapper {
        width: 320px;

        padding-top: 20px;
        padding-bottom: 35px;
    }
 }