.ticket-wrapper {
    width: 340px;
    height: 300px;

    // width: 150px;
    // height: 150px;
    // margin-top: 20px;

    border: 4px solid white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    padding: 20px 20px 50px 20px;
    // padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    transform: scale(1);

    .ticket-header{
        font-size: 22px;
        font-weight: 700;
        
        padding: 10px 0;
        // margin-top: -10px;
        // margin-bottom: 5px;
    }

    &.bingo {
        animation: animateBorder 1s linear infinite forwards;
        
        @keyframes animateBorder {
            0%{
                border-color: #FF0000;
                transform: scale(0.99);
            } 17% {
                border-color: #FF7F00;
                transform: scale(1);
            } 32% {
                border-color: #FFFF00;
                transform: scale(0.99);
            } 47% {
                border-color: rgb(0 ,255 , 0);
                transform: scale(1);
            } 63% {
                border-color: #0000FF;
                transform: scale(0.99);
            } 75% {
                border-color: #4B0082;
                transform: scale(1);
            } 90% {
                border-color: #8F00FF;
                transform: scale(0.99);
            }  100% {
                border-color: #8F00FF;
                transform: scale(1);
            } 
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: calc(90% - 40px);

        top: calc(50% + 10px);
        left: 50%;
        transform: translate(-50% , -50%);
        background-color: rgb(179, 172, 172);

        z-index: 10;
    }

    .ticket-container {
        padding: 5px;

        border: 2px solid gray;
        box-shadow: 0 0 5px gray;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        background-color: white;


        .ticket-left {
            padding-right: 10px;
        }
    }
}