.randomnumber-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 50px;
    background-color: white;

    h3 {
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
    }

    .randomnumber-container {
        display: flex;
        box-shadow: 1px 1px 5px gray;
        border-radius: 5px;

        width: 400px;
        min-height: 55px;
        max-height: 200px;

        padding: 10px;
        overflow-y: none;
        overflow-x: scroll;

        &.empty {
            overflow: hidden;

            display: flex;
            justify-content: center;
        }

        div {
            margin: 2px 4px;
            min-width: 30px;
            min-height: 30px;
            flex-basis: 30px;

            border: 1px solid gray;
            cursor: pointer;

            user-select: none;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width : 850px) {
    .randomnumber-wrapper {
       margin-left: 0;
       margin-bottom: 10px;

       .randomnumber-container {
            width: 350px;
       }
    }
 }